* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: black;
    transition: background-image 1s ease-in-out;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

#button-wrapper {
    position: absolute;
}

button {
    background-color: transparent;
    border: none;
    margin: 10px;
    transform: scale(1.5);
}
button:hover {
    transform: scale(1.7);
}

#datetime-wrapper {
    font-size: 8rem;
    line-height: 4rem;
    width: 562px
}

#time-wrapper {
    text-align: left;
}


#date {
    font-size: 4rem;
}

h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 36px;
}

h2 {
    margin-bottom: 0.5rem;
    opacity: 0.75;
    height: 28px;
}

#focus-wrapper {
    height: 28px;
}

@media(max-width: 700px) {
    #time {
        font-size: 6rem;
    }
}